<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd
          http://www.springframework.org/schema/aop
 		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>prepareData.properties</value>
            </list>
        </property>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${data.source.driver.class.name}"
          p:url="${data.source.url}"
          p:username="${data.source.username}"
          p:password="${data.source.password}"/>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" p:dataSource-ref="dataSource"/>



    <context:annotation-config/>
    <context:component-scan base-package="service.impl"/>
    <context:component-scan base-package="dao.impl"/>
    <context:component-scan base-package="aspects"/>

    <bean id="birthdayStrategy" class="strategy.BirthdayStrategy" p:discount="${discountForBirthday}"/>
    <bean id="specialTicketStrategy" class="strategy.SpecialTicketStrategy" p:discount="${discountForLuckyTicket}" p:numberOfLuckyTicket="${numberOfLuckyTicket}"/>

    <bean class="service.impl.DiscountService">
        <property name="discountStrategies">
            <list value-type="strategy.DiscountStrategy">
                <ref bean="birthdayStrategy"/>
                <ref bean="specialTicketStrategy"/>
            </list>
        </property>
    </bean>

    <aop:aspectj-autoproxy />

</beans>